In [2]:
import pandas as pd
df=pd.read_csv("iecities.csv")

In [3]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
def make_query(row):
    print("insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values (\'%s\', %f, %f, \'%s\',  \'%s\',  \'%s\',\'%s\', %d);" %(row[0],row[1], row[2], row[3], row[4], row[5], row[6], row[7]))
t=df.apply(make_query, axis=1)

insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Dublin', 53.349700, -6.260300, 'Ireland',  'IE',  'Dublin','primary', 1173179);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Cork', 51.900000, -8.473100, 'Ireland',  'IE',  'Cork','admin', 208669);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Galway', 53.272900, -9.041800, 'Ireland',  'IE',  'Galway','admin', 79504);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Limerick', 52.665300, -8.623800, 'Ireland',  'IE',  'Limerick','admin', 58319);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Waterford', 52.258300, -7.119000, 'Ireland',  'IE',  'Waterford','admin', 48369);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Drogheda', 53.713900, -6.350300, 'Ireland',  'IE',  'Louth','nan', 40956);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Dún Dealgan', 54.009000, -6.404900, 'Ireland',  'IE',  'Louth','admin', 39004);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Swords', 53.459700, -6.218100, 'Ireland',  'IE',  'Fingal','admin', 33998);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Blackrock', 53.301500, -6.177800, 'Ireland',  'IE',  'Dún Laoghaire-Rathdown','nan', 28557);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Tralee', 52.267500, -9.696200, 'Ireland',  'IE',  'Kerry','admin', 26384);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Carlow', 52.830600, -6.931700, 'Ireland',  'IE',  'Carlow','admin', 24272);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Ennis', 52.846300, -8.980700, 'Ireland',  'IE',  'Clare','admin', 24253);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Dunleary', 53.300000, -6.140000, 'Ireland',  'IE',  'Dún Laoghaire-Rathdown','admin', 23857);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Kilkenny', 52.647700, -7.256100, 'Ireland',  'IE',  'Kilkenny','admin', 22179);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Naas', 53.215800, -6.666900, 'Ireland',  'IE',  'Kildare','admin', 21393);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Sligo', 54.266700, -8.483300, 'Ireland',  'IE',  'Sligo','admin', 19452);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Monaghan', 54.247900, -6.970800, 'Ireland',  'IE',  'Monaghan','admin', 5937);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Ros Comáin', 53.633300, -8.183300, 'Ireland',  'IE',  'Roscommon','admin', 4860);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Mullingar', 53.533300, -7.350000, 'Ireland',  'IE',  'Westmeath','admin', 2361);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Tallaght', 53.287800, -6.341100, 'Ireland',  'IE',  'South Dublin','admin', 2362);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wicklow', 52.977900, -6.033000, 'Ireland',  'IE',  'Wicklow','admin', 2363);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Clonmel', 52.355000, -7.703900, 'Ireland',  'IE',  'Tipperary','admin', 2364);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wexford', 52.334200, -6.457500, 'Ireland',  'IE',  'Wexford','admin', 2365);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Longford', 53.727000, -7.799800, 'Ireland',  'IE',  'Longford','admin', 2366);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Trim', 53.555000, -6.791700, 'Ireland',  'IE',  'Meath','admin', 2367);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Carrick on Shannon', 53.946900, -8.090000, 'Ireland',  'IE',  'Leitrim','admin', 1868);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Tullamore', 53.266700, -7.500000, 'Ireland',  'IE',  'Offaly','admin', 1869);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Nenagh', 52.861900, -8.196700, 'Ireland',  'IE',  'Tipperary','admin', 1870);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('An Cabhán', 53.990800, -7.360600, 'Ireland',  'IE',  'Cavan','admin', 1871);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Port Laoise', 53.030900, -7.300800, 'Ireland',  'IE',  'Laois','admin', 2872);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Castlebar', 53.850000, -9.300000, 'Ireland',  'IE',  'Mayo','admin', 2873);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Lifford', 54.835600, -7.477900, 'Ireland',  'IE',  'Donegal','admin', 2874);

In [6]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
northern_ir=("Antrim and Newtownabbey", "Ards and North Down", "Armagh, Banbridge and Craigavon","Belfast", "Causeway Coast and Glens", "Derry and Strabane","Fermanagh and Omagh", "Lisburn and Castlereagh",
"Mid and East Antrim",	
"Mid Ulster",
"Newry, Mourne and Down")

df=pd.read_csv("gb.csv")
def make_query(row):
    if row[5] in northern_ir:
        print("insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values (\'%s\', %f, %f, \'%s\',  \'%s\',  \'%s\',\'%s\', %d);" %(row[0],row[1], row[2], row[3], row[4], row[5], row[6], row[7]))
    else:
        print("insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values (\'%s\', %f, %f, \'%s\',  \'%s\',  \'%s\',\'%s\', %f);" %(row[0],row[1], row[2], row[3], row[4], row[5], row[6], row[7]))
t=df.apply(make_query, axis=1)

insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('London', 51.507200, -0.127500, 'United Kingdom',  'GB',  'London, City of','primary', 10979000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Birmingham', 52.480000, -1.902500, 'United Kingdom',  'GB',  'Birmingham','nan', 2897303.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Manchester', 53.479400, -2.245300, 'United Kingdom',  'GB',  'Manchester','nan', 2705000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Leeds', 53.799700, -1.549200, 'United Kingdom',  'GB',  'Leeds','nan', 1901934.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Newcastle', 55.007700, -1.657800, 'United Kingdom',  'GB',  'Newcastle upon Tyne','nan', 1650000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Birstall', 52.673600, -1.120000, 'United Kingdom',  'GB',  'Leicester','nan', 1424216.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Glasgow', 55.860900, -4.251400, 'United Kingdom',  'GB',  'Glasgow City','nan', 985290.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Liverpool', 53.400000, -2.983300, 'United Kingdom',  'GB',  'Liverpool','nan', 864122.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Portsmouth', 50.805800, -1.087200, 'United Kingdom',  'GB',  'Portsmouth','nan', 855679.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Southampton', 50.900000, -1.400000, 'United Kingdom',  'GB',  'Southampton','nan', 855569.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Nottingham', 52.950000, -1.150000, 'United Kingdom',  'GB',  'Nottingham','nan', 768638.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Bristol', 51.450000, -2.583300, 'United Kingdom',  'GB',  'Bristol, City of','nan', 724000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Sheffield', 53.383300, -1.466700, 'United Kingdom',  'GB',  'Sheffield','nan', 685368.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Kingston upon Hull', 53.744400, -0.332500, 'United Kingdom',  'GB',  'Kingston upon Hull, City of','nan', 573300.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Leicester', 52.633300, -1.133300, 'United Kingdom',  'GB',  'Leicester','nan', 508916.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Edinburgh', 55.953000, -3.189000, 'United Kingdom',  'GB',  'Edinburgh, City of','nan', 488050.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Caerdydd', 51.483300, -3.183300, 'United Kingdom',  'GB',  'Cardiff','nan', 479000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Stoke-on-Trent', 53.000000, -2.183300, 'United Kingdom',  'GB',  'Stoke-on-Trent','nan', 372775.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Coventry', 52.408100, -1.510600, 'United Kingdom',  'GB',  'Coventry','nan', 362690.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Reading', 51.454200, -0.973100, 'United Kingdom',  'GB',  'Reading','nan', 337108.000000);
insert into ireland_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Belfast', 54.596400, -5.930000, 'United Kingdom',  'GB',  'Belfast','nan', 333871);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Derby', 52.916700, -1.466700, 'United Kingdom',  'GB',  'Derby','nan', 270500.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Plymouth', 50.371400, -4.142200, 'United Kingdom',  'GB',  'Plymouth','nan', 267918.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wolverhampton', 52.583300, -2.133300, 'United Kingdom',  'GB',  'Wolverhampton','nan', 254406.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Abertawe', 51.616700, -3.950000, 'United Kingdom',  'GB',  'Swansea','nan', 245508.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Milton Keynes', 52.040000, -0.760000, 'United Kingdom',  'GB',  'Milton Keynes','nan', 229941.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Aberdeen', 57.150000, -2.110000, 'United Kingdom',  'GB',  'Aberdeen City','nan', 214610.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Norwich', 52.630000, 1.297000, 'United Kingdom',  'GB',  'Norfolk','nan', 213166.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Luton', 51.878300, -0.414700, 'United Kingdom',  'GB',  'Luton','nan', 213052.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Islington', 51.544000, -0.102700, 'United Kingdom',  'GB',  'Islington','nan', 206125.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Swindon', 51.560000, -1.780000, 'United Kingdom',  'GB',  'Swindon','nan', 192599.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Croydon', 51.372700, -0.109900, 'United Kingdom',  'GB',  'Croydon','nan', 192064.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Basildon', 51.576100, 0.488600, 'United Kingdom',  'GB',  'Essex','nan', 185900.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Bournemouth', 50.720000, -1.880000, 'United Kingdom',  'GB',  'Bournemouth','nan', 183491.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Worthing', 50.814700, -0.371400, 'United Kingdom',  'GB',  'West Sussex','nan', 183000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Ipswich', 52.059400, 1.155600, 'United Kingdom',  'GB',  'Suffolk','nan', 180000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Middlesbrough', 54.576700, -1.235500, 'United Kingdom',  'GB',  'Redcar and Cleveland','nan', 174700.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Sunderland', 54.906100, -1.381100, 'United Kingdom',  'GB',  'Sunderland','nan', 174286.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Ilford', 51.558800, 0.085500, 'United Kingdom',  'GB',  'Redbridge','nan', 168168.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Warrington', 53.391700, -2.597200, 'United Kingdom',  'GB',  'Warrington','nan', 165456.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Slough', 51.510000, -0.590000, 'United Kingdom',  'GB',  'Slough','nan', 164455.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Huddersfield', 53.645000, -1.779800, 'United Kingdom',  'GB',  'Kirklees','nan', 162949.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Oxford', 51.751900, -1.257800, 'United Kingdom',  'GB',  'Oxfordshire','nan', 154600.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('York', 53.958300, -1.080300, 'United Kingdom',  'GB',  'York','nan', 153717.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Poole', 50.716700, -1.983300, 'United Kingdom',  'GB',  'Poole','nan', 151500.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Harrow', 51.583600, -0.346400, 'United Kingdom',  'GB',  'Harrow','nan', 149246.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Dundee', 56.462000, -2.970700, 'United Kingdom',  'GB',  'Dundee City','nan', 148270.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Saint Albans', 51.755000, -0.336000, 'United Kingdom',  'GB',  'Hertfordshire','nan', 147373.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Telford', 52.676600, -2.446900, 'United Kingdom',  'GB',  'Telford and Wrekin','nan', 142723.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Blackpool', 53.814200, -3.050300, 'United Kingdom',  'GB',  'Blackpool','nan', 139720.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Brighton', 50.842900, -0.131300, 'United Kingdom',  'GB',  'Brighton and Hove','nan', 134293.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Sale', 53.424000, -2.322000, 'United Kingdom',  'GB',  'Trafford','nan', 134022.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Enfield', 51.652200, -0.080800, 'United Kingdom',  'GB',  'Enfield','nan', 132640.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Tottenham', 51.588000, -0.072000, 'United Kingdom',  'GB',  'Haringey','nan', 129237.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Bolton', 53.578000, -2.429000, 'United Kingdom',  'GB',  'Bolton','nan', 128139.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Newport', 51.583300, -3.000000, 'United Kingdom',  'GB',  'Newport','nan', 128060.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('High Wycombe', 51.628700, -0.748200, 'United Kingdom',  'GB',  'Buckinghamshire','nan', 125257.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Exeter', 50.716700, -3.533300, 'United Kingdom',  'GB',  'Devon','nan', 124180.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Solihull', 52.413000, -1.778000, 'United Kingdom',  'GB',  'Solihull','nan', 123187.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Romford', 51.576800, 0.180100, 'United Kingdom',  'GB',  'Havering','nan', 122854.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Preston', 53.759000, -2.699000, 'United Kingdom',  'GB',  'Lancashire','nan', 122719.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Gateshead', 54.950000, -1.600000, 'United Kingdom',  'GB',  'Gateshead','nan', 120046.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Blackburn', 53.748000, -2.482000, 'United Kingdom',  'GB',  'Blackburn with Darwen','nan', 117963.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Cheltenham', 51.900000, -2.066700, 'United Kingdom',  'GB',  'Gloucestershire','nan', 116447.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Basingstoke', 51.266700, -1.087600, 'United Kingdom',  'GB',  'Hampshire','nan', 113776.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Maidstone', 51.272000, 0.529000, 'United Kingdom',  'GB',  'Kent','nan', 113137.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Colchester', 51.891700, 0.903000, 'United Kingdom',  'GB',  'Essex','nan', 111921.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Chelmsford', 51.736100, 0.479800, 'United Kingdom',  'GB',  'Essex','nan', 111511.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wythenshawe', 53.392000, -2.264000, 'United Kingdom',  'GB',  'Manchester','nan', 110000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Doncaster', 53.515000, -1.133000, 'United Kingdom',  'GB',  'Doncaster','nan', 109805.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Rotherham', 53.430000, -1.357000, 'United Kingdom',  'GB',  'Rotherham','nan', 109691.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Walthamstow', 51.590000, -0.000000, 'United Kingdom',  'GB',  'Waltham Forest','nan', 109424.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Rochdale', 53.613600, -2.161000, 'United Kingdom',  'GB',  'Rochdale','nan', 107926.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Bedford', 52.135000, -0.470000, 'United Kingdom',  'GB',  'Bedford','nan', 106940.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Crawley', 51.109200, -0.187200, 'United Kingdom',  'GB',  'West Sussex','nan', 106597.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Mansfield', 53.150000, -1.200000, 'United Kingdom',  'GB',  'Nottinghamshire','nan', 106556.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Dagenham', 51.539700, 0.142200, 'United Kingdom',  'GB',  'Barking and Dagenham','nan', 106247.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Stockport', 53.408300, -2.149400, 'United Kingdom',  'GB',  'Stockport','nan', 105878.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Darlington', 54.527000, -1.552600, 'United Kingdom',  'GB',  'Darlington','nan', 105564.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Fyfield', 51.739000, 0.272200, 'United Kingdom',  'GB',  'Essex','nan', 104234.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Gillingham', 51.385000, 0.550000, 'United Kingdom',  'GB',  'Medway','nan', 104157.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Salford', 53.483000, -2.293100, 'United Kingdom',  'GB',  'Salford','nan', 103886.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Eastbourne', 50.770000, 0.280000, 'United Kingdom',  'GB',  'East Sussex','nan', 103745.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wigan', 53.544800, -2.631800, 'United Kingdom',  'GB',  'Wigan','nan', 103608.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Hounslow', 51.466800, -0.375000, 'United Kingdom',  'GB',  'Hounslow','nan', 103337.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wembley', 51.552800, -0.297900, 'United Kingdom',  'GB',  'Brent','nan', 102856.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Saint Helens', 53.454100, -2.746100, 'United Kingdom',  'GB',  'St. Helens','nan', 102629.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Worcester', 52.192000, -2.220000, 'United Kingdom',  'GB',  'Worcestershire','nan', 101328.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Wakefield', 53.680000, -1.490000, 'United Kingdom',  'GB',  'Wakefield','nan', 99251.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Lincoln', 53.234400, -0.538600, 'United Kingdom',  'GB',  'Lincolnshire','nan', 97541.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Hemel Hempstead', 51.752600, -0.469200, 'United Kingdom',  'GB',  'Hertfordshire','nan', 97500.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Watford', 51.655000, -0.395700, 'United Kingdom',  'GB',  'Hertfordshire','nan', 96800.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Oldham', 53.544400, -2.116900, 'United Kingdom',  'GB',  'Oldham','nan', 96555.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Sutton Coldfield', 52.563000, -1.822000, 'United Kingdom',  'GB',  'Birmingham','nan', 95107.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Kettering', 52.393100, -0.722900, 'United Kingdom',  'GB',  'Northamptonshire','nan', 93475.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Hastings', 50.850000, 0.570000, 'United Kingdom',  'GB',  'East Sussex','nan', 92855.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Hartlepool', 54.690000, -1.210000, 'United Kingdom',  'GB',  'Hartlepool','nan', 92000.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Hove', 50.835200, -0.175800, 'United Kingdom',  'GB',  'Brighton and Hove','nan', 91900.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Barnsley', 53.553700, -1.479100, 'United Kingdom',  'GB',  'Barnsley','nan', 91297.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Southport', 53.647500, -3.005300, 'United Kingdom',  'GB',  'Sefton','nan', 90381.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Bath', 51.380000, -2.360000, 'United Kingdom',  'GB',  'Bath and North East Somerset','nan', 88859.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Birkenhead', 53.393000, -3.014000, 'United Kingdom',  'GB',  'Wirral','nan', 88818.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Grimsby', 53.559500, -0.068000, 'United Kingdom',  'GB',  'North East Lincolnshire','nan', 88243.000000);
insert into gb_cities (city,lat, long, country, iso2, admin_name, capital, population) values ('Halifax', 53.725000, -1.863000, 'United Kingdom',  'GB',  'Calderdale','nan', 88134.000000);